.details{
  color: rgb(192, 140, 240);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.logo{
  height: 220px;
  width:210px;
  margin-top: 30px;
}
.Name{
  color:rgb(120, 215, 248);
  font-weight:800;
  font-size:40px;
}
.first{
  color:gray;
  font-size: 10px;
  font-weight:500;
}
.second{
  color:black;
  font-weight:700;
}